/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clear {
  clear: both; }

.flex, body, .product-view {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (doesn't work very well) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex; }

body {
  flex-flow: column;
  -webkit-flex-flow: column;
  font-size: 1em;
  background-color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300; }

.product-view {
  width: 100%;
  flex-flow: column;
  -webkit-flex-flow: column;
  justify-content: space-around;
  align-content: center;
  border-bottom: 1px solid #e5e5e5; }
  .product-view #image-wrap {
    text-align: center;
    padding: 25px; }
    .product-view #image-wrap img {
      width: 100%;
      max-width: 558px; }
  .product-view #product-title {
    font-size: 1.6em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px; }

.product-selector {
  overflow: hidden;
  position: relative;
  height: 100px; }
  .product-selector #products {
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    text-align: center; }
    .product-selector #products li {
      text-align: center;
      display: inline-block;
      margin: 2em 1.8em;
      font-size: .85em; }
      .product-selector #products li span {
        visibility: hidden; }
      .product-selector #products li.selected span {
        visibility: visible;
        transition: all 0.3s ease; }
      .product-selector #products li.selected > a {
        background-color: black; }
      .product-selector #products li a {
        display: block;
        width: 35px;
        height: 35px;
        background-color: #e5e5e5;
        margin-bottom: 10px;
        transition: all 0.3s ease; }

@media (min-width: 980px) {
  .product-view {
    order: 2;
    -webkit-order: 2;
    border-bottom: 0;
    border-top: 1px solid #e5e5e5; }
    .product-view #image-wrap {
      order: 2;
      -webkit-order: 2; }
    .product-view #product-title {
      margin: 35px 0 10px 0; } }
